<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>
            Martial Arts Website  {% block pageTitle %}{% endblock %}
        </title>
        <meta charset="utf-8">
        <style>

        </style>
    </head>
    <body>
    <nav>
    <div class="menu">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="images/logo.png" alt=""/></a>
            </div>
            <div class="h_menu4"><!-- start h_menu4 -->
                <a class="toggleMenu" href="#">Menu</a>

                <ul class="nav">
            <li>
                <a href="/" class="{% block indexLinkStyle %}{% endblock %}">Home</a>
            </li>
            <li>
                <a href="/about" class="{% block aboutLinkStyle %}{% endblock %}">About Us</a>
            </li>
            <li>
                <a href="/contact" class="{% block contactLinkStyle %}{% endblock %}">Contact Us</a>
            </li>
            <li>
                <a href="/classes" class="{% block classesLinkStyle %}{% endblock %}">Classes</a>
            </li>
            <li>
                <a href="/trainers" class="{% block trainersLinkStyle %}{% endblock %}">Trainers</a>
            </li>
            <li>
                <a href="/login" class="{% block loginLinkStyle %}{% endblock %}">Login</a>
            </li>
            {#<li class="active"><a href="index.html">Home</a></li>#}
            {#<li><a href="about.html">About</a></li>#}
            {#<li><a href="trainers.html">Trainers</a></li>#}
            {#<li><a href="classes.html">Classes</a>#}
{##}
            {#</li>#}
            {#<li><a href="blog.html">Blog</a></li>#}
            {#<li><a href="pricing.html">Pricing</a></li>#}
            {#<li><a href="contact.html">Contact</a></li>#}
        </ul>
                </div>
            </div>
        </div>

    </nav>

    {% block main %}
    {% endblock %}

    <footer>
        2016 &copy; Website by Roy mc Loughlin.
    </footer>
    </body>
</html>