{% extends '_base.html.twig' %}

{# ----------------------------------------------------- #}
{% block pageTitle %} About page {% endblock %}

{# ----------------------------------------------------- #}
{% block aboutLinkStyle %}current_page{% endblock %}

{# ----------------------------------------------------- #}

{% block main %}

    <h1>
        About us page.
    </h1>

    <p>
        We are a registered martial Arts company.
    </p>
    <p>
        We are based in Co.Meath.
    </p>
    <p>
        We were established in 2000.
    </p>
    <p>
        Our objective is to get you in shape, learn martial arts and master techniques.
    </p>

{% endblock %}