{% extends '_base.html.twig' %}

{# ----------------------------------------------------- #}
{% block pageTitle %}Contact Us page{% endblock %}

{# ----------------------------------------------------- #}
{% block contactLinkStyle %}current_page{% endblock %}

{# ----------------------------------------------------- #}
{% block main %}

    <h1>
        Contact us
    </h1>

    <h3>Address</h3>
    <p>
        royswebadventures.com,
    <p>
        Ashbourne Martial Arts Centre,
        <br/>
        Ashbourne Industrial estate,
        <br/>
        Ashbourne,
        <br/>
        Meath
        <br/>

    </p>

    <h3>Telephone</h3>
    <p>
        01 - 835 - 1234
    </p>

    <h3>Email</h3>
    <p>
        <a href="mailto:royswebadventures@gmail.com">royswebadventures@gmail.com</a>
    </p>

{% endblock %}